[submodule "libfprint-vfs_proprietary-git"]
	path = libfprint-vfs_proprietary-git
	url = ssh://aur@aur.archlinux.org/libfprint-vfs_proprietary-git.git
[submodule "vfs495-daemon"]
	path = vfs495-daemon
	url = ssh://aur@aur.archlinux.org/vfs495-daemon.git
[submodule "libva-intel-driver-hybrid-g45-h265"]
	path = libva-intel-driver-hybrid-g45-h265
	url = ssh://aur@aur.archlinux.org/libva-intel-driver-hybrid-g45-h265.git
